exp/*
*__pycache__*
.ipynb_checkpoints/*

*.mp4
*.json
*.egg-info

*.txt

eval/robotwin/aloha_maniskill_sim/*
eval/robotwin/models/*
eval/robotwin/results/*
eval/robotwin/.cache/*
eval/robotwin/RoboTwin/*
*.egg-info
wandb/
*.jpg
*.log
*gwc*